/* ************** Custom Properties ************* */
:root {
  --first-color: #002266;
  --second-color: #001133;
  --third-color: #003299;
  --four-color: #0044CC;
  --five-color: #0055FF;
  --six-color: #99BBFF;
  --background-color: #CCDDFF;
  --text-color: #262626;
  --white-color: #fff;
  --black-color: #000;
  --font: Arial, Helvetica, sans-serif;
  --max-width: 1200px;
  --header-height: 4rem;
}

/* *************Reseteos**************** */

html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
  background-color: var(--background-color);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
}

/* .btn {
  border-radius: .5rem;
  padding: 1rem;
  display: inline-block;
  width: 200px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--third-color);
  background-color: var(--five-color);
} */

.none {
  display: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}


/* *************** Menu **************** */

.menu-btn {
  outline: thin solid var(--third-color);
  border: 0;
  cursor: pointer;
  background-color: var(--five-color);
}

.menu-btn svg {
  fill: var(--first-color);
}

.menu {
  position: fixed;
  left: 0;
  bottom: var(--header-height);
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--second-color);
  opacity: 0;
  pointer-events: none;
  transition: opacity .5s ease;
}

.menu a {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--six-color);
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu a:hover {
  color: var(--white-color);
  background-color: var(--five-color);
}


@media screen and (min-width:1024px) {
  .menu-btn {
    display: none;
  }

  .menu {
    position: static;
    width: auto;
    flex-direction: row;
    opacity: 1;
    pointer-events: auto;
  }

  .menu a {
    padding: 0 1rem;
  }

  .menu a:hover {
    background-color: transparent;
  }

  .menu a:last-child {
    padding-right: 0;
  }
}

/************ Navbar ************/
.header {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9999;
  padding: 1rem;
  width: 100%;
  height: var(--header-height);
  background-color: var(--second-color);
}

.header>.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: var(--white-color);
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .header {
    position: sticky;
    top: 0;
    padding: .5rem;
    height: calc(var(--header-height)-0.5rem);
  }
}