<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>KillCode</title>
</head>
<body>
    <div id="page">
        <header id="background">
            <div class="container-sm">
                <img src="../assets/killcode-icon.png" class="logo" alt="killcode logo">
                <div class="title">
                    <h1 class="h1">Plataforma de Recibos de Sueldo</h1>
                </div>
            </div>
        </header>
        <section class="content">
            <form>
                <div class="text-size">
                    <h1 class="subtitle">Cambio de contraseña</h1>
                    <p>A continuación ingresá tu nueva contraseña e introducila nuevamente.</p>
                    <div class="mb-4">
                        <label for="dni" class="form-label text">Nueva contraseña:</label>
                        <input type="text" class="form-control" id="new-password" placeholder="Ingrese su nueva contraseña.">
                        <div class="alert alert-danger disabled" id="alert-msg" role="alert"></div>
                    </div>
                    <div class="mb-4">
                        <label for="names" class="form-label text">Repita su nueva contraseña:</label>
                        <input type="text" class="form-control" id="repeat-new-password" placeholder="Ingrese su nueva contraseña.">
                        <div class="alert alert-danger disabled" id="alert-msg" role="alert"></div>
                    </div>
                    <div class="buttons">
                        <button id="confirm-change-password-btn" type="button" class="btn btn-danger center" onclick="goToSuccessfulChangePassword()">Confirmar</button>
                    </div>
                </div>
            </form>
        </section>
        <footer>
            <p class="footer-text">@ 2022 KillCode</p>
        </footer>
    </div>
    <script src="../js/login/controller.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>