<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <header>
        <div class="container">
            <p class="logo">¡KillCode! (Falta logo)</p> 
            <nav>
            <a href="#">Inicio</a>
            <a href="#">Soluciones</a>
            <a href="presupuestos.html">Presupuestos</a>
            <a href="ayuda.html">Ayuda</a>
            <a href="#">Contacto</a>
            <a href="#">Sobre KillCode</a>  
            </nav>
        </div>
    </header>
    <section id="hero">
        <h1>Soluciones Empresariales</h1>
        <button>¡CONTÁCTENOS!</button>
    </section>

    <section id="somos-KillCode">
        <div class="container">

        <div class="img-container"></div>

        <div class="texto">
            <h2>Somos <span class="color-killcode">KillCode</span></h2>
            <p> La presentación lo es todo. Somos KillCode, un grupo de 8 estudiantes de 
                programación en busca de un mejor futuro. Nos enfocamos día a día en entregar el mejor
                servicio a nuestros clientes. 
                Nosotros contemplamos todas las exigencias necesarias para brindarle lo mejor a su empresa.
            </p>
        </div>
        </div>
    </section>

    <section id="caracteristicas">
        <div class="container">
            <ul>
                <li>✔️​ ​Soluciones para cada necesidad</li>
                <li>✔️ ​​100% intuitivo</li>
                <li>✔️ ​Guías para los usuarios</li>
                <li>✔️​ Asistencia las 24hs, los 365 días del año​</li>
            </ul>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy;2022 Todos los derechos reservados. Desarrollado por KillCode.</p>
        </div>
    </footer>
</body>
</html>
