<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presupuestos</title>
    <link rel="stylesheet" href="../css/presupuestos.css">
</head>
<body>
    
    <header>
        <div class="container">
            <p class="logo">¡KillCode! (Falta logo)</p> 
            <nav>
            <a href="index.html">Inicio</a>
            <a href="#">Soluciones</a>
            <a href="presupuestos.html">Presupuestos</a>
            <a href="#">Ayuda</a>
            <a href="#">Contacto</a>
            <a href="#">Sobre KillCode</a>  
            </nav>
        </div>
    </header>

    <section id="nuestrosPresupuestos">
        <h2><h2>Nuestras ofertas</h2></h2>
            <div class="container">

                <div class="img-container"></div>
                <p>Conozca nuestras ofertas para su empresa.
                    Independientemente del tamaño de su empresa, tenemos una
                    opción para satisfacer sus necesidades.
                </p>
            </div>
    </section>

    <section id="opcionesPresupuestos">
        <div class="container">
            <div class="opcion">
            <h3>Micro Empresas</h3>
                <p>Paquete pensado para empresas con no más de 10 empleados. En esta opción encontrara lo indispensable para su negocio.</p>
                <button>+ Info</button>  
            </div>
            <div class="opcion">
                <h3>Pequeñas Empresas</h3>
                <p>Paquete pensado para empresa con no más de 50 empleados. Su negocio esta en constante crecimiento, tenemos lo que necesita.</p>
                <button>+ Info</button> 
            </div>
            <div class="opcion">
                <h3>Medianas Empresas</h3>
                <p>Paquete pensado para empresas de no más de 250 empleados. Necesita agilizar una parte administrativa, nosotros tenemos la solución</p>
                <button>+ Info</button> 
            </div>
            <div class="opcion">
                <h3>Grandes Empresas</h3>
                <p>Paquete pensado para empresas con más de 250 empleados. Ya consolidados, nosotros podemos facilitar aun más las cosas.
                <button>+ Info</button> 
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy;2022 Todos los derechos reservados. Desarrollado por KillCode.</p>
        </div>
    </footer>
</body>
</html>
